<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>강의실 자리 예약 시스템 - 회원가입</title>
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="/css/jumbotron-narrow.css" rel="stylesheet">
<style>
    .fieldError{
        border-color: #bd2130;
        text-decoration-color: #bd2130;
    }
</style>
<body>
    <div class="container">
        <div th:replace="~{fragments/bodyHeader::bodyHeader}" />
        <form role="form" action="/student/register" th:object="${createForm}" method="post">
            <div class="form-group">
                <label th:for="studentId">이름</label>
                <input type="text" th:field="*{name}" class="form-control" placeholder="학번을 입력하세요"
                       th:class="${#fields.hasErrors('name')} ? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">반드시 입력해주세요</p>
            </div>
            <div class="form-group">
                <label th:for="studentId">학번</label>
                <input type="text" th:field="*{studentId}" class="form-control" placeholder="학번을 입력하세요"
                       th:class="${#fields.hasErrors('studentId')} ? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('studentId')}" th:errors="*{studentId}">반드시 입력해주세요</p>
            </div>
            <div class="form-group">
                <label th:for="password">비밀번호</label>
                <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호를 입력하세요"
                       th:class="${#fields.hasErrors('password')} ? 'form-control fieldError' : 'form-control'">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">반드시 입력해주세요</p>
            </div>
            <div class="form-group mx-sm-1 mb-2">
                <select th:field="*{major}" class="form-control">
                    <option value="">전공 선택</option>
                    <option th:each="major: ${T(csrs.demo.Dto.Major).values()}"
                            th:value="${major}"
                            th:text="${major}">전공</option>
                </select>
            </div>
            <button type="submit" class="btn btn-secondary">회원가입</button>
        </form>
        <br/>
        <div th:replace="~{fragments/footer::footer}" />
    </div>
</body>
</html>