<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>관리자 - 강의실 생성</title>
</head>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Custom styles for this template -->
<link href="/css/jumbotron-narrow.css" rel="stylesheet">
<style>
    .fieldError {
        border-color: #bd2130;
        text-decoration-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <div th:replace="~{fragments/bodyHeader::bodyHeader}"/>
    <form role="form" action="/classroom/new" th:object="${classroom}" method="post">
        <!--            <div class="form-group">-->
        <!--                <label th:for="crNum">강의실 번호</label>-->
        <!--                <input type="text" th:field="*{crNum}" class="form-control" placeholder="강의실 이름을 입력하세요">-->
        <!--            </div>-->
        <div class="form-group">
            <label th:for="crName">강의실 이름</label>
            <input type="text" th:field="*{classroomName}" class="form-control" placeholder="강의실 이름을 입력하세요">
        </div>
        <div class="form-group">
            <label th:for="crName">강의실 정원</label>
            <input type="number" th:field="*{capacity}" class="form-control" placeholder="강의실 정원을 선택하세요">
        </div>
        <button type="submit" class="btn btn-secondary">저장</button>
    </form>
    <br/>
    <div th:replace="~{fragments/footer::footer}"/>
</div>
</body>
</html>